<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClubArcada.BusinessObjects.Properties.Settings.PokerSystemConnectionString"
            connectionString="Data Source=82.119.117.77;Initial Catalog=PokerSystem;User ID=PokerTimer"
            providerName="System.Data.SqlClient" />
        <add name="ClubArcada.BusinessObjects.Properties.Settings.CashTimerDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;A:\Club Arcada\ClubArcada.CashTimer\Application\ClubArcada\ClubArcada.Win\CashTimerDB.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>